<% include partials/header %>


<% students.forEach(function(student){ %>

<div>
    <h2><%= student.name %></h2>
    <p><%= student.email %></p>
    <a href="/students/<%= student._id %>">Show More</a>
</div>

<% }) %>

<% include partials/footer %>