<% include partials/header %>

<div class="ui main text container">
    <div class="ui huge header">Node Application</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% students.forEach(function(student){ %>

            <div class="item">
                <div class="image">
                    <img src="https://previews.123rf.com/images/tvectoricons/tvectoricons1808/tvectoricons180806610/107158582-student-vector-icon-isolated-on-transparent-background-student-logo-concept.jpg">
                </div>
                <div class="content">
                    <a class="header" href="/students/<%= student._id %>"><%= student.name %></a>
                    <div class="meta">
                        <span><%= student.email %></span>
                    </div>
                    <div class="extra">
                        <a class="ui floated basic violet button" href="/students/<%= student._id %>">Read More <i class="right chevron icon"></i></a>
                    </div>
                </div>
                
            </div>

        <% }) %>
            
        </div>
    </div>
</div>




<% include partials/footer %>